body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-content {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome-message {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    padding-left: 62px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #D9C9F5;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.tbody {
    border: 1px solid #ddd;
}

.product-table table {
    width: 100%;
}

.product-table th, .product-table td {
    padding: 15px;
    text-align: center;
    
}

th {
	background: #f4f4f4;
}

td {
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
}

td:last-child {
    border-right: 1px solid #ddd;
}

tr:last-child td {
    border-bottom: 1px solid #ddd;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
}

.product-details {
    text-align: left;
    margin-left: 20px;
}

.product-name {
    font-weight: bold;
}

.product-description {
    color: #888;
}

.cart-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-btn {
    background-color: #B7DFB9;
}

.delete-btn {
    background-color: #EA9999;
    margin-left: 5px;
}
