body{
  max-width: 1320px;
  margin: 0 auto;
}

.img{
  width:1320px;
  object-fit:scale-down;  
  margin-bottom:48px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom:80px;
  text-align: center;
}
th{
  background-color: #fff;
  font-size:24px;
  line-height: 80px;;
}

.first img{
  width:300px;
  text-align: center;
}

.second img{
  width:650px;
  text-align:center;
}

