body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width:1320px;
  margin:auto;
}

.container {
  display: flex;
}

.sidebar {
  background-color: rgb(240, 231, 255);
  padding-top: 48px;
  padding-left:24px;
  width: 200px;
  height:100%;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.menu {
  margin-top: 20px;
}

.main-content {
  padding: 20px;
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  margin-top:16px;
}

img {
  max-width: 100px;
  height: auto;
}

button {
  margin-top:48px;
  background-color: rgb(217, 201, 245);
  font-size:18px;
  font-weight:600;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}
