body{
  width:1320px;
  margin:auto;
}

.product_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:auto;
  padding-top:100px;
}

.product_image {
  width:632px;
  height:632px;
  margin-right:60px;
  float:left;
}

.product_image > img{
  object-fit: contain;
}

.option{
  float:right;
  width:632px;
}



.product-name {
  font-size: 48px;
  font-weight: bold;
}

.product-price {
  font-size: 36px;
  font-weight:700;
  margin-bottom: 20px;
}

.product-options {
  margin-top:90px;
  margin-bottom: 20px;
  font-size:20px;
  font-weight:600;
}

.number{
  width:56px;
  height:24px;
  font-size:20px;
  margin-left:16px;
}

.product-buttons {
  display: flex;
}

.buy-button {
  padding: 24px 48px;
  margin: 0 5px;
  font-weight:700;
  font-size:20px;
  background-color:rgb(217, 201, 245);
  border: none;
  cursor: pointer;
}

.buy-button2 {
  padding: 24px 48px;
  margin: 0 5px;
  border: none;
  box-shadow: 0 0 0 2px rgb(217, 201, 245);
  border-width: 2px;
  background-color:#fff;
  cursor: pointer;
  font-weight:700;
  font-size:20px;
}

.product-details h2{
  text-align:center;
}
.product-details {
  flex: 1;
  margin:auto;
  padding-top:16px;
}

.detail-item {
  margin-bottom: 20px;
}

.detail-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}