a{
    text-decoration: none;
}
.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}
.title {
    display: flex;
    align-items: center;
}

.title h2 {
    margin-right: 10px; /* 원하는 간격 설정 */
    font-size:32px;
    font-weight:700;    
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

table{
    table-layout: fixed;
    width:100%;
    border-style: solid;;
    border-radius:0 0 20px 20px;
    border-width:1px;
    border-color:#ddd;
    text-align: center;
}

.th{
    background-color: rgb(240, 231, 255);
    font-size:20px;
    font-weight:600;
    line-height:40px;
}

img{
    width:150px;
}

td{
    font-size:18px;
}

.review{
    margin-top:20px;
    padding-left:24px;
    padding-right:24px;
    padding-top:16px;
    padding-bottom:16px;
    background-color:#fff;
    border-radius:20px;
    border-style:none;
    border-width:1px;
    background-color:rgb(240, 231, 255);
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
}


.list{
    margin-top:20px;
    padding-left:24px;
    padding-right:24px;
    padding-top:16px;
    padding-bottom:16px;
    background-color:#fff;
    border-radius:20px;
    border-style:none;
    border-width:1px;
    background-color:rgb(240, 231, 255);
    font-size:20px;
    font-weight: 600;
    cursor: pointer;
    
}
