body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 9px;
    width: 80%;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
	width: 40%;
    padding: 10px;
    background-color: rgb(217, 201, 245);
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
}

button:last-of-type {
    margin-bottom: 25px; 
}

button:hover {
    background-color: rgb(192, 178, 228); 
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
    display: none;
}

.input-error {
    border: 1px solid red;
}
