@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	width:100%;
    height:180px;
}

.box{
    width:1320px;
    margin-left:auto;
    margin-right:auto;
}

.top{
    text-align: right;
    padding-top:8px;
    padding-bottom:8px;
}

.top > span{
    font-size:14px;
    margin-left:24px;
    text-decoration : none;
}

.second div{
  display:inline-block;
  position:relative;
}

.logo > img{
    width : 200px;
    height : 100px;
    object-fit: contain;
    display: inline-block;
    margin-left:32px;
    margin-right:80px;
}

.search{
  width:800px;
  margin-left:80px;
}

.d-flex{
  width:800px;
}


.input {
  width: 500px;
  height: 54px;
  border-radius: 27px;
  border: none;
  box-shadow: 0 0 0 2px rgb(217, 201, 245);
  padding-left:16px;
  margin-right:8px;
  font-family: 'Noto Sans KR', sans-serif;
}


.searchButton{
  width:54px;
  height:54px;
  border-radius: 27px;
  border: none;
  background-color: rgb(217, 201, 245);
  font-family: 'Noto Sans KR', sans-serif;
}
.dropdown{
    position : relative;
    display : inline-block;
    margin-bottom:8px;
  }

  .dropbtn{
    border : none;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 16px;
    font-weight: 700;
  }

  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1;
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #ececec
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .line{
    height:2px;
    background-color:rgb(217, 201, 245);
  }